@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700;800&display=swap');

$background-color: #ece0f5;
$background-color-light: #f5f5f5;

$color-primary: #361e48;
$color-primary-light: #bea9d3;

$border-radius: 8px;
$border-radius-label: 30px;

$font-primary: 'Open Sans', sans-serif;
$font-w-normal: 500;
$font-w-bold: 700;
$font-w-extra-bold: 800;
